<div style="width:100%; height:100%">
  <div fxFlex="100%">
    <div fxLayout="column" fxFlex="40%" style="height:400px; margin-left:auto; margin-right:auto; margin-top:360px; ">
      <mat-card class="search-box" fxFlex="40%" [ngClass]="hover ? 'mat-elevation-z24 moveup' : 'mat-elevation-z2 movedown'">
        <mat-card-content>
          <div fxLayout="column" class="search-area">
            <h2 style="text-align:center">Enter Summoner Name:</h2>
            <div fxLayout="row">
              <mat-form-field style="text-align:center;" fxFlex="95%">
                <span matPrefix>
                  <mat-icon>search</mat-icon>&nbsp;&nbsp;&nbsp;</span>
                <input matInput placeholder="Summoner Name" style="width:100%" (focus)="hoverMe()" (focusout)="hoverMe()" [(ngModel)]="summonerName"> 
              </mat-form-field>
              <button  routerLink="/summoner/{{summonerName}}" routerLinkActive="active" matSuffix mat-icon-button fxFlex="5%">
                <mat-icon>forward</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
