<!-- <div fxLayout="column">

  <mat-card fxFlex="100%" class="main-input">
    <div class="mat-card-header" style="width:100%;">
      <mat-card-title style="width:100%; border-radius: 5px 5px 0 0;" id="header">
        <div id="header-image"></div>
        <span class="header-text">/r/super_title_maker</span>
      </mat-card-title>
    </div> -->
    asdfasd
<div fxFlex="100%">
  <mat-card class="search-box" >

    <div fxLayout="column" class="search-area">
      <h2 style="text-align:center">Enter Summoner Name:</h2>
      <div fxLayout="row">
        <mat-form-field fxFlex="95%">
          <span matPrefix><mat-icon>search</mat-icon></span>
          <input matInput placeholder="Summoner Name" style="width:100%">
        </mat-form-field>
        <button matSuffix mat-icon-button fxFlex="5%">
              <mat-icon class="md-24" aria-label="Example icon-button with a heart icon">forward</mat-icon>
            </button>
      </div>
    </div>

  </mat-card>
</div>

<!-- </mat-card>

  <button class="go-button" fxFlex="100%" style="margin-left:32px; margin-right:32px;" color="accent" mat-raised-button>Go
    <mat-icon>send</mat-icon>
  </button>


  <mat-divider>
  </mat-divider>
</div> -->
