.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .main-input{
      /* width:75%; */
      height:640px;
      /* margin-left:auto;
      margin-right:auto; */
      /* margin-top: 24px; */
      margin-bottom: 24px;
  }
  .full-width{
      width:100%;
  }
  .go-button{
    height:64px;
    font-size: 32px;
    margin-top:72px;
  }
  :host /deep/ .mat-input-placeholder {
    text-align: center;
  }
  
  .example-form{
  
  }
  .form-inputs{
    max-height:148px; 
    min-height:148px; 
    width:75%; 
    margin-left:auto; 
    margin-right:auto; 
    text-align:center;
  }
  #header{
    border-bottom: 1px solid #5f99cf;
    position: relative;
    background-color: #FFFFFF;
    z-index: 99;
  
    width: 100%;
  }
  #header-image{
    text-indent: -9999px;
    background-image: url('/assets/sprite.png');
    background-size: 150px;
     
    background-repeat: no-repeat;
    height: 50px;
    width: 150px; 
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 3px;
    z-index: 1000;
  }
  .mat-card-header-text{
    margin: 0 0 0 0;
    /* border-radius:5px; */
    
  }
  .search-box{
  margin-left:auto;
  margin-right:auto;
  margin-top: 200px;
  background-color: #F0EFFF;
  }
 
  .header-text{
    font-weight: bold;
    margin-right: 1ex;
    font-variant: small-caps;
    font-variant-ligatures: normal;
    font-variant-caps: small-caps;
    font-variant-numeric: normal;
    font-size: 1.2em;
    vertical-align: bottom;
  }
  .preview-box{
    opacity: 0;
    background-image: url('/assets/preview.png');
    background-repeat: no-repeat;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
    
  }
  #preview-text{
    width: auto;
    position: relative;
    left: 150px;
    top: 90px;
    color: blue;
    font-weight: normal;
    font-size: medium;
    background: none;
    border: none;
  }