.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.main-input {
  /* width:75%; */
  height: 640px;
  /* margin-left:auto;
    margin-right:auto; */
  /* margin-top: 24px; */
  margin-bottom: 24px;
}

.full-width {
  width: 100%;
}

.go-button {
  height: 64px;
  font-size: 32px;
}

:host /deep/ .mat-input-placeholder {
  text-align: center;
}

.moveup {
  transform: scale(1.05);
  transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow .5s;
}

.movedown {
  transform: scale(.95);
  transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow .5s;
}

.example-form {}

.mat-input {
  text-align: center;
}

.form-inputs {
  max-height: 148px;
  min-height: 148px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#header {
  border-bottom: 1px solid #14CBCE;
  position: relative;
  background-color: #45A0FB;
  z-index: 99;
  width: 100%;
}

#header-image {
  text-indent: -9999px;
  background-image: url('/assets/sprite.png');
  background-size: 150px;
  background-position-y: 10px;
  background-position-x: 5px;
  background-repeat: no-repeat;
  height: 50px;
  width: 155px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 3px;
  z-index: 1000;
}

.mat-card-header-text {
  margin: 0 0 0 0;
  /* border-radius:5px; */
}

.mat-card {
  /* padding:0 0 0 0; */
  /* border-radius:5px; */
}

.header-text {
  font-weight: bold;
  margin-right: 1ex;
  font-variant: small-caps;
  font-variant-ligatures: normal;
  font-variant-caps: small-caps;
  font-variant-numeric: normal;
  font-size: 1.2em;
  vertical-align: bottom;
}

.preview-box {
  background-image: url('/assets/preview.png');
  background-repeat: no-repeat;
}

#preview-text {
  width: auto;
  position: relative;
  left: 150px;
  top: 90px;
  color: blue;
  font-weight: normal;
  font-size: medium;
  background: none;
  border: none;
}
