<!-- <mat-toolbar style="opacity:.7" color="primary">
  <mat-icon class="example-icon">chrome_reader_mode</mat-icon>
  <span>Reddit Title Analyzer</span>

</mat-toolbar> -->
<div fxLayout="column">

  <mat-card  class="main-input">
    <div class="mat-card-header" style="width:100%;">
      <mat-card-title style="width:100%; border-radius: 5px 5px 0 0;" id="header">
        <div id="header-image"></div>
        <span class="header-text"></span>
      </mat-card-title>
    </div>
    <router-outlet></router-outlet>
  </mat-card>



  <mat-divider>
  </mat-divider>
</div>